@value male: #0000FF;
@value female: purple; 
@value namespace: "all";
@value one from namespace;
@value one, two from namespace;
@value one, two, three from "namespace";
@value one from 'namespace';

.dad{
    composes: parent from "./family";
    background: male;
}

.mum{
    composes: parent from "family";
    border: 1em solid female;
}

:global .child :local .mum.dad{
    composes: dad;
    composes: mum;
}

:global(.class #id){
    background: female;
}